@use "sass:math";

$clamp-mobile-minimum: 390px !default;
$clamp-desktop-maximum: 1440px !default;

@function fluid-clamp($min, $max) {
  $slope: math.div($max - $min, $clamp-desktop-maximum - $clamp-mobile-minimum);
  $intersection: $min - ($clamp-mobile-minimum * $slope);

  @return clamp(#{$min}, calc(#{$intersection} + #{$slope * 100vw}), #{$max});
}

@mixin clamp-prop($property, $min, $max) {
  #{$property}: fluid-clamp($min, $max);
}

@mixin clamp-var($name, $min, $max) {
  #{$name}: fluid-clamp($min, $max);
}
