@use "../../styles/mixins" as *;

.contact-layout {
  display: grid;
  gap: var(--page-hero-grid-gap);

  @include mq(lg) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: start;
  }
}